{% if site.category_sidebar %}
<section>
<h1>分類</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (15)</a></li>
  <li><a href='/blog/categories/attack'>Attack (1)</a></li>
  <li><a href='/blog/categories/cloud'>Cloud (1)</a></li>
  <li><a href='/blog/categories/git'>Git (2)</a></li>
  <li><a href='/blog/categories/life'>Life (1)</a></li>
  <li><a href='/blog/categories/linux'>Linux (4)</a></li>
  <li><a href='/blog/categories/mobile'>Mobile (1)</a></li>
  <li><a href='/blog/categories/network'>Network (3)</a></li>
  <li><a href='/blog/categories/ocaml'>Ocaml (1)</a></li>
  <li><a href='/blog/categories/opennebula'>Opennebula (1)</a></li>
  <li><a href='/blog/categories/paper'>Paper (3)</a></li>
  <li><a href='/blog/categories/qemu'>Qemu (1)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (1)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (1)</a></li>
  <li><a href='/blog/categories/security'>Security (4)</a></li>
  <li><a href='/blog/categories/security'>Security (1)</a></li>
  <li><a href='/blog/categories/system'>System (2)</a></li>
  <li><a href='/blog/categories/人生'>人生 (2)</a></li>
  <li><a href='/blog/categories/周计划'>周计划 (2)</a></li>
  <li><a href='/blog/categories/杂'>杂 (3)</a></li>
  <li><a href='/blog/categories/梦想'>梦想 (1)</a></li>
  <li><a href='/blog/categories/生活'>生活 (5)</a></li>
</ul>
</section>
{% endif %}
